@import "my-less-lib";

body{
  background: lightgray;
}

*{
  outline: none !important;
}

html {
  .indents-zero;
  box-sizing: border-box;
}

h1,h2,p{
  .indents-zero;
}

.head1{
  font-size: 2.5vw;
}

.head2{
  font-size: 2vw;
}

.string{
  font-size: 1.5vw;
}